---
- name: import common file
  import_playbook: ../static-assignments/common.yml
  tags:
  - always

- name: include env-vars file
  import playbook: ../dynamic-assignments/env-vars.yml
  tags:
  - always

- name: import database file
  import playbook: ../static-assignment ../static-assignments/db.yml

- name: import webservers file
  import playbook: ../static-assignments/webserver.yml

- name: import loadbalancers assignment
  import playbook: ../static-assignments/lb.yml
  when: loadbalancer_is_required